<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddUserServlet</servlet-name>
  	<display-name>AddUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddUserServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>SignInUserServlet</servlet-name>
  	<display-name>SignInUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SignInUserServlet</servlet-class>
  	<init-param>
            <param-name>
                go
            </param-name>
            <param-value>
                portal-basic.jsp
            </param-value>
        </init-param>
  </servlet>
  <servlet>
  	<servlet-name>SignOutUserServlet</servlet-name>
  	<display-name>SignOutUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SignOutUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEventServlet</servlet-name>
  	<display-name>AddEventServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddEventServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetEventServlet</servlet-name>
  	<display-name>GetEventServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.GetEventServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddQuickLinkServlet</servlet-name>
  	<display-name>AddQuickLinkServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddQuickLinkServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveQuickLinkServlet</servlet-name>
  	<display-name>RemoveQuickLinkServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RemoveQuickLinkServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCardSetServlet</servlet-name>
  	<display-name>AddCardSetServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddCardSetServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCardSetServlet</servlet-name>
  	<display-name>GetCardSetServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.GetCardSetServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFlashCardServlet</servlet-name>
  	<display-name>AddFlashCardServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddFlashCardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFlashCardServlet</servlet-name>
  	<display-name>GetFlashCardServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.GetFlashCardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFlashCardCount</servlet-name>
  	<display-name>GetFlashCardCount</display-name>
  	<description></description>
  	<servlet-class>servlets.GetFlashCardCount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFlashCardSetServlet</servlet-name>
  	<display-name>RemoveFlashCardSetServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RemoveFlashCardSetServlet</servlet-class>
  </servlet>

  
  
  <servlet-mapping>
  	<servlet-name>AddUserServlet</servlet-name>
  	<url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>SignInUserServlet</servlet-name>
  	<url-pattern>/SignInUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignOutUserServlet</servlet-name>
  	<url-pattern>/SignOutUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEventServlet</servlet-name>
  	<url-pattern>/GetEventServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AddEventServlet</servlet-name>
  	<url-pattern>/AddEventServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddQuickLinkServlet</servlet-name>
  	<url-pattern>/AddQuickLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveQuickLinkServlet</servlet-name>
  	<url-pattern>/RemoveQuickLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCardSetServlet</servlet-name>
  	<url-pattern>/AddCardSetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCardSetServlet</servlet-name>
  	<url-pattern>/GetCardSetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFlashCardServlet</servlet-name>
  	<url-pattern>/AddFlashCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFlashCardServlet</servlet-name>
  	<url-pattern>/GetFlashCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFlashCardCount</servlet-name>
  	<url-pattern>/GetFlashCardCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFlashCardSetServlet</servlet-name>
  	<url-pattern>/RemoveFlashCardSetServlet</url-pattern>
  </servlet-mapping>

  </web-app>

