<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddUserServlet</servlet-name>
  	<display-name>AddUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddUserServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>SignInUserServlet</servlet-name>
  	<display-name>SignInUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SignInUserServlet</servlet-class>
  	<init-param>
            <param-name>
                go
            </param-name>
            <param-value>
                portal-basic.jsp
            </param-value>
        </init-param>
  </servlet>
  <servlet>
  	<servlet-name>SignOutUserServlet</servlet-name>
  	<display-name>SignOutUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SignOutUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEventServlet</servlet-name>
  	<display-name>AddEventServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddEventServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AddUserServlet</servlet-name>
  	<url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>SignInUserServlet</servlet-name>
  	<url-pattern>/SignInUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignOutUserServlet</servlet-name>
  	<url-pattern>/SignOutUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEventServlet</servlet-name>
  	<url-pattern>/AddEventServlet</url-pattern>
  </servlet-mapping></web-app>

